<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
</head>
<body >
 
{% include "navbar.html" %}
 
<div class="container-fluid">
    <div class="row mt-5 mb-5">
        <div class="col-md-8">
            <img src="{{ url_for('video_feed') }}" width="100%" class="img-thumbnail">
        </div>
        <div class="col-md-4" style="height:500px; overflow-y:auto;">
            <h3>Today Scan</h3>
            <table class="table" >
                <thead>
                    <tr>
                        <th>Person #</th>
                        <th>Name</th>
                        <th>Skill</th>
                        <th>Added</th>
                    </tr>
                </thead>
                <tbody id="scandata">
 
                </tbody>
            </table>
        </div>
    </div>
</div>




<script type="text/javascript">
    $(document).ready(function() {
        let lastcnt = 0;
        let cnt;
        chkNewScan();
 
        function chkNewScan() {
            countTodayScan();
            setTimeout(chkNewScan, 1000);
        }
 
        function countTodayScan() {
            $.ajax({
                url: '/countTodayScan',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    cnt = data.rowcount;
                    if (cnt > lastcnt) {
                        reloadTable();
                    }
 
                    lastcnt = cnt;
                },
                error: function(result){
                    console.log('no result!')
                }
            })
        }
 
        function reloadTable() {
            $.ajax({
                url: '/loadData',
                type: 'GET',
                dataType: 'json',
                success: function(response){
                    var tr = $("#scandata");
                    tr.empty();
 
                    $.each(response, function(index, item) {
                        if (item.length > 0) {
                            for (let i = 0; i < item.length; i++) {
                                tr.append('<tr>'+
                                                '<td>'+item[i][1]+'</td>'+
                                                '<td>'+item[i][2]+'</td>'+
                                                '<td>'+item[i][3]+'</td>'+
                                                '<td>'+item[i][4]+'</td>'+
                                           '</tr>');
                            }
                        }
                    });
                },
                error: function(result){
                    console.log('no result!')
                }
            });
        }
    });
</script>
 

<form name="signup" id ="form" onsubmit="return checkpassword()" action="http://localhost/faceid/html/final.html" method="POST">
  
    
    <br><br>
    <input type="submit" name="" value=" Go Next " class ="center">
  </form> 








</body>
</html>
