.bg-nav{
    background: #ff0084;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #33001b, #ff0084);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #33001b, #ff0084); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.mt-100{
    margin-top:100px;
}


.header 
{
  font-family: Arial;
  padding: 50px;
  text-align: center;
  background: #292929;
  color: white;
  font-size: 20px;
}

.center {
  float: center;
}